<html>
<table width="100%" cellspacing="2" cellpadding="2" border="1">
<tbody>
<tr>
<td valign="center" align="center" width="25%"><img src="media/decartes.jpg"
alt="DeCART Icon" width="128" height="171"><br>
</td>
<td valign="center" align="center" width="75%">
<h1 align="center"><font size="+1">DeCART Summer School<br>
for<br>
Biomedical Data Science</font></h1></td>
<td valign="center" align="center" width="25%"><img
src="media/U_Health_stacked_png_red.png" alt="Utah Health
Logo" width="128" height="134"><br>
</td>
</tr>
</tbody>
</table>
<br>
</html>


# Working with Textual Data
#### &copy; Brian E. Chapman, Ph.D.


### To get the latest version of this lesson, execute the cell below

In [1]:
%matplotlib inline

In [2]:
import pymysql
import pandas as pd
import getpass
from textblob import TextBlob

In [3]:
conn = pymysql.connect(host="mysql",
                       port=3306,user="jovyan",
                       passwd=getpass.getpass("Enter MySQL passwd for jovyan"),db='mimic2')
cursor = conn.cursor()

Enter MySQL passwd for jovyan········

### Use Pandas and SQL to create a dataframe with the following:
* subject_id
* hospital admission id
* text of the radiology report
* Limit the number of reports to 10000

In [10]:
rad_data=pd.read_sql("SELECT * from noteevents LIMIT 1000",conn)
rad_data.head()

,subject_id,hadm_id,icustay_id,elemid,charttime,realtime,cgid,correction,cuid,category,title,text,exam_name,patient_info
0,56,28766.0,NaN,NaN,2644-01-17 00:00:00,None,NaN,None,NaN,DISCHARGE_SUMMARY,None,\n \n \n \nAdmission Date: [**2644-1-17**] ...,None,None
1,56,28766.0,NaN,NaN,2644-01-17 00:00:00,None,NaN,None,NaN,RADIOLOGY_REPORT,None,\n\n\n DATE: [**2644-1-17**] 10:53 AM\n ...,None,None
2,56,28766.0,NaN,NaN,2644-01-17 00:00:00,None,NaN,None,NaN,RADIOLOGY_REPORT,None,\n\n\n DATE: [**2644-1-17**] 10:53 AM\n ...,None,None
3,56,28766.0,NaN,NaN,2644-01-17 00:00:00,None,NaN,None,NaN,RADIOLOGY_REPORT,None,\n\n\n DATE: [**2644-1-17**] 10:43 AM\n ...,None,None
4,56,28766.0,NaN,NaN,2644-01-17 00:00:00,None,NaN,None,NaN,RADIOLOGY_REPORT,None,\n\n\n DATE: [**2644-1-17**] 6:37 AM\n ...,None,None

In [11]:
set(rad_data['category'])

{'DISCHARGE_SUMMARY', 'Nursing/Other', 'RADIOLOGY_REPORT'}

In [7]:
rad_data = \
pd.read_sql("""SELECT noteevents.subject_id, 
                      noteevents.hadm_id,
                      noteevents.text 
               FROM noteevents
               WHERE noteevents.category = 'RADIOLOGY_REPORT' LIMIT 10000""",conn)
rad_data.head(5)

   subject_id  hadm_id                                               text
0          56  28766.0  \n\n\n     DATE: [**2644-1-17**] 10:53 AM\n   ...
1          56  28766.0  \n\n\n     DATE: [**2644-1-17**] 10:53 AM\n   ...
2          56  28766.0  \n\n\n     DATE: [**2644-1-17**] 10:43 AM\n   ...
3          56  28766.0  \n\n\n     DATE: [**2644-1-17**] 6:37 AM\n    ...
4          56  28766.0  \n\n\n     DATE: [**2644-1-19**] 12:09 PM\n   ...

In [8]:
rad_data.shape

(10000, 3)

## Section Splitting

<img src="http://medicine.utah.edu/dbmi/images/faculty/Chapman,Wendy_240x360.jpg"
alt="Wendy Chapman" width="128">

Clinical reports are often divided into sections. Physicians are taught to write their reports in the SOAP format: subjective information, objective information, assessment, and plan, and sections often reflect this process. Information each setion may be formatted differently. For example, subjective information is often narrative, telling a story of the patient's description of their past medical history and their current issues. The objective section may be much more telegraphic with shortened descriptions of measurements like blood pressure and heart rate, such as "120/80 88". You may need different NLP techniques to accurately extract information out of different sections. Sentence splitting, for example, may be different in subjective versus objective sections. Radiology reports are not in the SOAP format, but section identification can still be very important, because in these reports the radiologist describes what she sees on the radiographic image then sometimes summarizes her impression of what the observations may represent, such as "the infiltrate could be consistent with pneumonia." For some tasks, you may only be interested in the impression, which has more weight than the reasoning that occurs in the Findings section.

## Exercise

Write a function that returns the impression section of a report. The function will take two arguments:

1. The text to search for the impression section is the first positional argument.
1. A list of phrases to use to identify the impression section.

Not every report will have a section labeled "IMPRESSION". You can consider "INTERPRETATION" and "CONCLUSIONS" as synonyms for "IMPRESSION"

If you cannot identify the impresison section (or equivalent), return an empty string.

#### Hints

* Use a for loop  to iterate across
* Use the find method of a string to identify where in the string the impression section occurs
* Use slicing to grab the impression section

In [ ]:

def find_impression():
    pass

find_impression()

In [29]:

def find_impression(txt, search_terms= ["IMPRESSION", "INTERPRETATION", "CONCLUSIONS"]):
    
    for w in search_terms:
        ind = txt.find(w)
        if ind != -1:
            return txt[ind:]
    return ""

find_impression(txt10)

''

In [32]:
txt10 = rad_data.loc[10,"text"]
txt0 = rad_data.loc[0,"text"]
txt10.find("IMPRESSION"), txt0.find("IMPRESSION")

(-1, -1)

In [31]:
print(txt10)

Admission Date:  [**3264-8-14**]     Discharge Date:  [**3264-8-19**]

Date of Birth:   [**3195-9-11**]     Sex:  M

Service:  C-MED Gold

HISTORY OF PRESENT ILLNESS:  The patient is a 68-year-old
gentleman with a significant cardiac history with coronary
artery disease (status post coronary artery bypass graft),
hypertension, congestive heart failure, hyperlipidemia, and
diabetes mellitus who presented with worsening congestive
heart failure of several months in duration with new onset
chest pressure.

The patient was in his usual state of health until three days
prior to admission when he began to experience increasing
shortness of breath at rest and with exertion. However, the
patient was still able to walk his dog for approximately one
half of a mile per day.  No paroxysmal nocturnal dyspnea.  No
orthopnea.  Minimal bilateral lower extremity edema at
baseline.

The patient had one episode of 5/10 chest pressure (his
anginal equivalent) with exertion three days prior to
admission which resolved after one hour.

On the day prior to admission, the patient had a second
episode of 10/10 chest pressure, substernal, and without
radiation.  No associated nausea, vomiting, or palpitations.
Mild diaphoresis and lightheadedness.  The patient took one
sublingual nitroglycerin, and his pain score went down to
7/10, and he presented to the [**Hospital1 47**] Emergency Department for evaluation.

In the [**Hospital1 **] Emergency Department, the
patient's chest pressure was relieved with aspirin, heparin,
nitroglycerin, and Integrilin.  He also received metoprolol
intravenously.  He did continue to be short of breath despite
receiving 80 mg of Lasix intravenously on arrival.

The initial electrocardiogram showed sinus tachycardia with a
left bundle-branch block and left atrial abnormality, without
any significant changed when compared to the previous tracing
of [**3264-2-16**].  His initial creatine kinase was 326
with a troponin T of 0.31.

Of note, the patient denies fevers or chills.  He has a
slight cough with sputum.  He is not on a low diet.  No
recent dietary indiscretion.

PAST MEDICAL HISTORY:
1.  Coronary artery disease.
(a)  Status post coronary artery bypass graft in [**3252**]; left
internal mammary artery to left anterior descending artery,
saphenous vein graft to right coronary artery, and saphenous
vein graft to diagonal.
(b)  Persantine MIBI on [**3264-1-29**] demonstrated a
dilated left ventricle, partially reversible moderate
perfusion defect in the anterior left ventricular wall, with
moderate fixed deficits at the septal/inferior walls, global
and left ventricular hypokinesis with an ejection fraction of
21%.
2.  Congestive heart failure; [**State 1194**] Heart Association
class II.  An echocardiogram on [**3264-1-25**] with
depressed left ventricular systolic function with an ejection
fraction of 20%.
3.  Insulin-dependent diabetes mellitus.
4.  Hypertension.
5.  Hyperlipidemia.
6.  Onychomycosis.
7.  Status post appendectomy.
8.  Anemia with leukocytosis.
9.  Chronic obstructive pulmonary disease; last pulmonary
function tests in [**3264-1-26**] with a mixed
obstructive/restrictive deficit.

MEDICATIONS ON ADMISSION:
 1.  Lisinopril 40 mg by mouth once per day.
 2.  Lipitor 20 mg by mouth once per day.
 3.  Cardura 2 mg by mouth q.h.s.
 4.  Celexa 40 mg by mouth once per day.
 5.  Coreg 12.5 mg by mouth q.a.m.
 6.  Digoxin 0.25 mg by mouth every day.
 7.  Lasix 80 mg by mouth once per day.
 8.  Lumigan 0.03% drops q.h.s.
 9.  Timoptic 0.25% drops both eyes q.a.m.
10.  Excedrin by mouth as needed.
11.  NPH insulin 95 units subcutaneously q.a.m. and 90 units
subcutaneously at dinner.

FAMILY HISTORY:   Family history was noncontributory for
coronary artery disease.

SOCIAL HISTORY:  The patient is a retired painter.  He has
been married times 44 years.  He has a 60-pack-year history
of tobacco; he quit 15 years ago.  Occasional alcohol use.
No intravenous drug use.

PHYSICAL EXAMINATION ON PRESENTATION:  Physical examination
on admission revealed his temperature was 98.4 degrees
Fahrenheit, blood pressure was 133/64, his heart rate was
107, his respiratory rate went from 40 to 24, and his oxygen
saturation was 95% on 2 liters.  In general, an elderly
gentleman in no apparent distress.  Head, eyes, ears, nose,
and throat examination revealed normocephalic and atraumatic.
Pupils were equal, round, and reactive to light and
accommodation.   Extraocular movements were intact.  The neck
was supple.  No lymphadenopathy.  No thyromegaly.
Cardiovascular examination revealed a regular rate.  Normal
first heart sounds and second heart sounds.  No murmurs,
rubs, clicks, or gallops.  Pulmonary examination revealed
decreased breath sounds at the bases bilaterally.  No rales
or wheezes.  The abdomen was obese, soft, nontender, and
nondistended.  Normal active bowel sounds.  No
hepatosplenomegaly or masses.  Extremity examination revealed
2+ pitting edema bilaterally to the knees.  Neurologic
examination revealed alert and oriented times three.  Cranial
nerves II through XII were grossly intact.

PERTINENT LABORATORY VALUES ON PRESENTATION:  Initial
laboratories revealed creatine kinase was 326, CK/MB was 14,
troponin T was 0.25, and MB index was 4.3.  His white blood
cell count was 7.8, his hematocrit was 33, and his platelets
were 281.  Sodium was 135, potassium was 4.2, chloride was
99, bicarbonate was 28, blood urea nitrogen was 24,
creatinine was 1.1, and blood glucose was 303.  Prothrombin
time was 13.8, partial thromboplastin time was 25.2, and his
INR was 1.3.

PERTINENT RADIOLOGY/IMAGING:  A chest x-ray demonstrated
cardiomegaly with pulmonary vasculature redistribution and a
new lingular opacity (pneumonia versus asymmetric pulmonary
edema), and a small calcified granuloma in the right upper
lobe (as previously demonstrated).

BRIEF SUMMARY OF HOSPITAL COURSE BY ISSUE/SYSTEM:  The
patient was admitted to the C-MED Service, placed on
telemetry, and continued on his outpatient cardiac
medications, as well as a nitroglycerin, heparin, and
Integrilin drips.

1.  CONGESTIVE HEART FAILURE ISSUES:  At baseline, the
patient had been on 2 liters nasal cannula of home oxygen.
His oxygen requirement remained stable while in house on 3
liters nasal cannula.  He was saturating at 97%.

An echocardiogram was performed on [**3264-8-14**] which
demonstrated an ejection fraction of 20% with global
hypokinesis; consistent with prior examination.

The patient was continued on digoxin 0.25 mg by mouth once
per day and Lasix 80 mg intravenously once per day.  Daily
weights and strict ins-and-outs were monitored.  On the day
of discharge, the patient no longer had edema of the lower
extremities.  He was saturating at 100% on 2 liters with his
lungs clear to auscultation bilaterally.

2.  CORONARY ARTERY DISEASE ISSUES:  The patient ruled in by
enzyme criteria; however, his electrocardiogram continued to
be unchanged with a left bundle-branch block at baseline.

There was consideration of catheterization during this
inpatient stay; however, given the patient's complications
with gastrointestinal bleeds, as well as his reluctance to
undergo this procedure, this was deferred.

The patient underwent a chemical stress MIBI on [**3264-8-19**]; during which time he had no anginal symptoms or
interpretable electrocardiogram changes.  By verbal report,
the nuclear portion of this study demonstrated fixed defects
in the anterior/inferior walls with an ejection fraction of
20% and left ventricular cavity enlargement.

3.  ANEMIA/GASTROINTESTINAL BLEED ISSUES:  The patient had an
episode of melena on the morning of [**3264-8-15**].  He
denied bright red blood per rectum, hematemesis,
coffee-grounds emesis, nausea, vomiting, or abdominal pain.
He had never had symptoms of gastrointestinal bleeding in the
past.

A nasogastric lavage demonstrated no active upper
gastrointestinal bleed, and his vital signs remained stable
with a stable hematocrit at 29.8.  Two large-bore intravenous
lines were placed, and the patient was transfused a total of
three units of packed red blood cells with 80 mg of
intravenous Lasix prior to this transfusion.  He was also
started on Protonix 40 mg intravenously twice per day.  The
Integrilin, heparin, and aspirin were held.

A Gastroenterology consultation was obtained, and an
esophagogastroduodenoscopy was recommended and performed on
the morning of [**3264-8-16**].  This demonstrated gastritis.
Nevertheless, due to the patient's gastrointestinal bleeding
he was transferred to the Medical Intensive Care Unit because
of concern over the initial hematocrit drop from 33 to 26
with a question of potential retroperitoneal bleed.

On [**3264-8-15**], when he was transferred to the Medical
Intensive Care Unit, an abdominal and pelvic computed
tomography without contrast was obtained which demonstrated
some cholelithiasis without evidence for cholecystitis, and
no evidence of retroperitoneal bleed.

An anemia workup was continued, and iron studies demonstrated
an elevated ferritin and decreased total iron-binding
capacity suggesting likely anemia of chronic disease with
acute anemia secondary to gastritis superimposed.

The patient remained stable and was transferred back to the
C-MED Service on the evening of [**3264-8-16**].  For the
duration of his inpatient course, the patient's hematocrit
remained stable at 32.7, and he did not experience subsequent
episodes of melena or hematemesis.

Of note, the aspirin, heparin, and Integrilin continued to be
held (this contributed to the unwillingness to perform
cardiac catheterization during this inpatient stay).

4.  PNEUMONIA ISSUES:  On admission chest x-ray, the patient
was noted to have a lingular infiltrate that was felt to be
new compared to prior studies.  Of note, the patient's white
blood cell count was 7.8, but he did spike to 102.3 degrees
Fahrenheit on [**3264-8-15**].  Thus, it was felt that the
chest x-ray infiltrate was consistent with pneumonia, and he
was started on levofloxacin 500 mg once per day for a 10-day
course.

The patient's chest x-ray gradually improved during his
inpatient stay.  On the day of discharge, his temperature was
99.6 with a white blood cell count of 13.3.  Of note, his
maximum white blood cell count had been 13.9.  The patient
had been afebrile for 48 hours prior to discharge.

5.  DIABETES MELLITUS ISSUES:  The patient was placed on an
insulin sliding-scale with four times per day fingersticks.
His glucose remained within normal limits during this
hospital course.

6.  MENTAL STATUS CHANGE ISSUES:  The patient was minimally
agitated during his Medical Intensive Care Unit stay.  It was
felt that this was likely baseline dementia with superimposed
Intensive Care Unit delirium.  He did have a recent head
computed tomography which showed no acute event.

Of note, his mental status was much improved upon transfer to
the floor.

DISCHARGE DISPOSITION:   The patient was discharged on [**3264-8-19**].  His vital signs were stable.  He was saturating at
100% on 2 liters nasal cannula.  His creatine kinase levels
had been dropping from 187 to 108 with a troponin of 0.31.
He was asymptomatic.

CONDITION AT DISCHARGE:  Condition on discharge was stable.

DISCHARGE DIAGNOSES:
1.  Acute non-ST-segment myocardial infarction.
2.  Pneumonia.
3.  Coronary artery disease.
4.  Gastrointestinal bleed.

MEDICATIONS ON DISCHARGE:
1.  Lipitor 20 mg by mouth once per day.
2.  Celexa 20 mg by mouth by mouth twice per day.
3.  Doxazosin 2-mg tablets one tablet by mouth once per day.
4.  Timolol eyedrops 0.25% one both eyes q.a.m.
5.  Levofloxacin 500-mg tablets one tablet by mouth once per
day (for a 10-day course with day one being on [**3264-8-15**]).
6.  Lisinopril 40 mg by mouth once per day.
7.  Digoxin 250-mg tablets one tablet by mouth once per day.
8.  Carvedilol 12.5 mg by mouth twice per day.
9.  Protonix 40-mg tablets one tablet by mouth twice per day.

DISCHARGE INSTRUCTIONS/FOLLOWUP:
1.  The patient was instructed to follow up with Dr. [**First Name4 (NamePattern1) **]
[**Last Name (NamePattern1) 2054**] in the [**Hospital 463**] Medical Building, suite B, on [**3264-9-3**] at 11 a.m. (telephone number [**Telephone/Fax (1) 2055**]).
2.  The patient was instructed to follow up with Dr. [**First Name8 (NamePattern2) 2056**]
[**Last Name (NamePattern1) 1971**] in the [**Doctor Last Name **] Building, on [**3264-8-25**] at
12:10 p.m. (telephone number [**Telephone/Fax (1) 2057**]).
3.  The patient was advised to call 911 or present to the
nearest Emergency Department with symptoms of chest pressure,
shortness of breath, jaw discomfort, palpitations, or
diaphoresis.
4.  The patient was advised to resume all outpatient
medications; aside from aspirin.






                          [**First Name8 (NamePattern2) **] [**Last Name (NamePattern1) **], M.D.  [**MD Number 2058**]

Dictated By:[**Last Name (NamePattern1) 2059**]

MEDQUIST36

D:  [**3264-8-20**]  08:42
T:  [**3264-8-21**]  14:08
JOB#:  [**Job Number 2060**]

cc:[**9-26**]

TypeError: 'DataFrame' object is not callable

## Exercise 

Use ``apply()`` to create a new column in the ``rad_data`` named "IMPRESSIONS" with the string identified with ``find_impression()``.

In [33]:
rad_data.head(5)
rad_data["IMPRESSIONS"] = rad_data["text"].apply(find_impression)
rad_data.head(5)

,subject_id,hadm_id,icustay_id,elemid,charttime,realtime,cgid,correction,cuid,category,title,text,exam_name,patient_info,IMPRESSIONS
0,56,28766.0,NaN,NaN,2644-01-17 00:00:00,None,NaN,None,NaN,DISCHARGE_SUMMARY,None,\n \n \n \nAdmission Date: [**2644-1-17**] ...,None,None,
1,56,28766.0,NaN,NaN,2644-01-17 00:00:00,None,NaN,None,NaN,RADIOLOGY_REPORT,None,\n\n\n DATE: [**2644-1-17**] 10:53 AM\n ...,None,None,
2,56,28766.0,NaN,NaN,2644-01-17 00:00:00,None,NaN,None,NaN,RADIOLOGY_REPORT,None,\n\n\n DATE: [**2644-1-17**] 10:53 AM\n ...,None,None,
3,56,28766.0,NaN,NaN,2644-01-17 00:00:00,None,NaN,None,NaN,RADIOLOGY_REPORT,None,\n\n\n DATE: [**2644-1-17**] 10:43 AM\n ...,None,None,IMPRESSION: Stable appearance of right pariet...
4,56,28766.0,NaN,NaN,2644-01-17 00:00:00,None,NaN,None,NaN,RADIOLOGY_REPORT,None,\n\n\n DATE: [**2644-1-17**] 6:37 AM\n ...,None,None,IMPRESSION:\n \n Cardiomegaly and mild...

In [50]:
import numpy as np

def do_math(func):
    return [func(i) for i in np.arange(-np.pi,np.pi,0.1)]

In [51]:
do_math(np.cos)

[-1.0,
 -0.9950041652780257,
 -0.9800665778412416,
 -0.9553364891256059,
 -0.9210609940028849,
 -0.8775825618903724,
 -0.8253356149096779,
 -0.7648421872844879,
 -0.6967067093471648,
 -0.6216099682706637,
 -0.5403023058681389,
 -0.4535961214255764,
 -0.36235775447667246,
 -0.2674988286245862,
 -0.1699671429002396,
 -0.07073720166770146,
 0.02919952230129027,
 0.1288444942955263,
 0.22720209469308872,
 0.32328956686350513,
 0.4161468365471441,
 0.5048461045998591,
 0.5885011172553474,
 0.6662760212798258,
 0.737393715541247,
 0.8011436155469351,
 0.8568887533689485,
 0.9040721420170622,
 0.9422223406686591,
 0.9709581651495912,
 0.9899924966004459,
 0.9991351502732796,
 0.9982947757947529,
 0.9874797699088644,
 0.9667981925794602,
 0.9364566872907952,
 0.8967584163341455,
 0.8481000317104064,
 0.7909677119144145,
 0.7259323042001377,
 0.6536436208636092,
 0.5748239465332662,
 0.4902608213406962,
 0.4007991720799713,
 0.30733286997841586,
 0.21079579943077612,
 0.11215252693505033,
 0.012388663462885996,
 -0.08749898343945094,
 -0.18651236942257937,
 -0.28366218546323063,
 -0.3779777427129853,
 -0.46851667130038116,
 -0.5543743361791645,
 -0.6346928759426381,
 -0.7086697742912639,
 -0.775565878510253,
 -0.8347127848391623,
 -0.8855195169413215,
 -0.9274784307440379,
 -0.9601702866503675,
 -0.9832684384425855,
 -0.9965420970232179]

In [38]:
type(np.cos)

numpy.ufunc

In [52]:
do_math(lambda x:x**2)

[9.869604401089358,
 9.2512858703714,
 8.65296733965344,
 8.07464880893548,
 7.516330278217521,
 6.978011747499562,
 6.459693216781603,
 5.961374686063644,
 5.483056155345685,
 5.024737624627726,
 4.586419093909768,
 4.168100563191809,
 3.76978203247385,
 3.3914635017558914,
 3.033144971037933,
 2.694826440319974,
 2.3765079096020156,
 2.078189378884057,
 1.7998708481660983,
 1.5415523174481398,
 1.3032337867301813,
 1.0849152560122228,
 0.8865967252942645,
 0.708278194576306,
 0.5499596638583477,
 0.4116411331403894,
 0.29332260242243113,
 0.1950040717044729,
 0.11668554098651471,
 0.058367010268556535,
 0.020048479550598398,
 0.0017299488326403011,
 0.003411418114682239,
 0.025092887396724214,
 0.06677435667876622,
 0.12845582596080826,
 0.21013729524285035,
 0.3118187645248925,
 0.4335002338069346,
 0.5751817030889768,
 0.7368631723710191,
 0.9185446416530604,
 1.1202261109351035,
 1.341907580217147,
 1.5835890494991882,
 1.8452705187812295,
 2.126951988063273,
 2.4286334573453168,
 2.750314926627358,
 3.091996395909399,
 3.4536778651914433,
 3.8353593344734875,
 4.237040803755528,
 4.6587222730375695,
 5.100403742319614,
 5.562085211601659,
 6.043766680883699,
 6.54544815016574,
 7.067129619447785,
 7.608811088729831,
 8.17049255801187,
 8.752174027293911,
 9.353855496575957]

In [53]:
np.arange?

## How else might we need to break up a report?

* How would I break a report into sentences?
* How would I break a report into words?

## Group Exercise

### Create a single string with all the reports

#### Hints, etc.
* Use List Comprehension
* Use string joins
* Iterate over the rows of the data frame
* Use TextBlob to get words